body {
  background-color: #0f172a;
  color: #cbd6ed;
  background-image: url("./k.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size:x-large;
   margin: 5% 5%;
}
.heading{
    width: 400px ;
    display: inline-block;
    
}
 h1 {
  margin-bottom: 0;
}

sub {
  margin-top: -0.5em; /* pull it closer to h1 */
  display: block;
}
p{
    color: #779ab1;
    font-size: large;
/*     border-right: 5px solid;
    width: 100%
    white-space: nowrap;
    overflow: hidden;
    animation:
      typing 2s steps(74),
      cursor .4s step-end infinite alternate; */
}

#typing::after {
  content: '|';
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* @keyframes cursor {
  50% { border-color: transparent}
} */

.icons {
    width: 300px;
   
}
.icons i {
    color:#779ab1 ;
    padding: 10px;
    transition: color 0.3s ease,transform 0.3s fast;
}
.icons i:hover {
    color:#cbd6ed;
    transform: scale(105%);
}
